html {
    height: calc(100% - 100px);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-image: url('../images/rain.webp'); */
    /* background-size: cover; */
    background: linear-gradient(to right, rgba(0, 102, 255, .5),rgba(192, 255, 250, 0.5));
}

/* ! header */
header {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, .7);
    position: fixed;
    top: 0;
    /* margin: 0 calc(10% - 20px); */
    /* margin: 0 calc(10% - 20px); */
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header ul li {
    height: 50px;
    text-align: center;
    padding: 0 20px;
    line-height: 50px;
}

header ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, .2);
    transition: color .3s;
}

header ul li a.current {
    color: rgba(0, 0, 0, 1);
}


/*! main */
main {
    margin: 50px 50px 0;
    min-height: 100%;
}

main div {
    display: none;
}

main div.appear {
    display: block;
}

main h1 {
    text-align: center;
}

/*! footer */
footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.555);
}

footer #sns {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    padding: 0 8px;
}

footer .bi-twitter {
    color: black;
}

footer .bi-github {
    color: black;
}